/* Xuui-Touch Version:0.1- - 2016-07-31
Documentation and issue tracking on GitHub <http://github.com/xuui/xuui-jtouch.git>
*/

@charset "UTF-8";
@import url(fonts/material-icons.css);

@import url(xu/base.css);
@import url(xu/grids.css);
@import url(xu/grids-responsive.css);
@import url(xu/buttons.css);
@import url(ui.css);
@import url(animation.css);
@import url(flexslider.css);

body{background:#eee;color:#424242;}

/*
article{padding:12px;padding-left:env(safe-area-inset-left);padding-right:env(safe-area-inset-right);}
@supports(padding:max(0)){
article{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right));}
}
*/
/*ipx*/

a,button,.btn{-ms-touch-action:manipulation;-webkit-touch-action:manipulation;touch-action:manipulation;}
input,button,select,textarea{outline:none}
input,textarea{-webkit-user-select:auto;user-select:auto}
::-webkit-input-placeholder{color:#a3a3c0;text-shadow:#fff 0 1px 0}

h1,h2,h3,h4,h5,h6{margin:0;}

ul{margin:0;padding:0;list-style:none;}
p{margin:0;}


/* Sinks */
.list-view{background:#fafafa}

.text-3d{color:#333;
text-shadow:0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

#depth{margin:16px;background:#fff;border-radius:4px;padding:16px;}

.z-depth-1{box-shadow:0 -1px 1px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.24);}
.z-depth-2{box-shadow:0 -3px 3px rgba(0,0,0,.16),0 3px 3px rgba(0,0,0,.23);}
.z-depth-3{box-shadow:0 -10px 10px rgba(0,0,0,.19),0 6px 3px rgba(0,0,0,.23);}
.z-depth-4{box-shadow:0 -14px 14px rgba(0,0,0,.25),0 10px 5px rgba(0,0,0,.22);}
.z-depth-5{box-shadow:0 -19px 19px rgba(0,0,0,.3),0 15px 6px rgba(0,0,0,.22);}


.btn-z-depth-1{box-shadow:0 1px 1px rgba(0,0,0,.24);}
.btn-z-depth-2{box-shadow:0 3px 3px rgba(0,0,0,.23);}
.btn-z-depth-3{box-shadow:0 6px 3px rgba(0,0,0,.23);}
.btn-z-depth-4{box-shadow:0 10px 5px rgba(0,0,0,.22);}
.btn-z-depth-5{box-shadow:0 15px 6px rgba(0,0,0,.22);}


#splash_slider,#splash_slider .flex-viewport,#splash_slider .slides,#splash_slider .slides li{width:100%;height:100%;}
#splash_slider .slides li{background:no-repeat 50% 50%;background-size:cover;text-align:center;/*padding:32px;*/}
#splash_slider .slides li .xu-btn{position:absolute;bottom:5.2em;margin-left:-60px;width:120px;}
#splash_slider .flex-control-nav{bottom:20px}
#splash_slider .flex-control-paging li a.flex-active{background:#0078e7}

.page-io .button{background:transparent url(../images/download-button.png) no-repeat 0 0 / 126px 39px;border-radius:5px;margin-bottom:12px;padding:7px 16px 7px 34px;width:126px;text-align:left;font-size:13px;line-height:1;color:#fff;}
.page-io .button small{display:block;font-size:8px;margin-bottom:4px;}
.page-io .pbotm,.page-io .pbotm .btn{margin-bottom:0;}

.center-cont{background:rgba(255,255,255,.5)}
.center-cont h2{margin-bottom:1em;}

.popmenu{background:rgba(240,240,240,.9)}

.card{background:#fff;padding:16px;box-shadow:0 1px 3px rgba(0,0,0,.15);margin:16px;border-radius:3px;font-size:14px;}
.card h1,.card h2{margin-bottom:.4em;}
.card h1{font-size:20px;}
.card h2{font-size:16px;}
.card p{margin-bottom:5px;}
.card .btn{margin-bottom:.5em;}

.xu-kit{padding:8px;}
.xu-kit h3{font-weight:400;padding:8px 4px;border-bottom:1px solid #ccc;margin:0 0 16px}
.xu-kit .kitbox{padding-bottom:1em;}
.kitbox p{margin-bottom:1em;}
.kitbox .tool-bar{background:#fff;}

.key_shadow {
  box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24)，0 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);
}

