/*
* jqtouch-button.css
*/
/* button */
#jqt .add,#jqt .back,#jqt .button,#jqt .cancel{position:absolute;overflow:hidden;width:auto;height:30px;font-family:inherit;font-size:12px;font-weight:700;line-height:30px;text-overflow:ellipsis;text-decoration:none;white-space:nowrap;bottom:6px;right:10px;margin:0;padding:0 10px;-webkit-border-radius:4px;border-radius:4px;}
#jqt .back{max-width:60px;overflow:visible;}
#jqt .back,#jqt .cancel{left:10px;right:auto}
#jqt .add{font-size:24px;line-height:24px;font-weight:700}


[data-ui=view] .f-btn{
  flex:none;
  background:#31bbee;
  border:none;
  width:56px;
  height:44px;
  line-height:44px;
  color:#fff;
  text-align:center;
}

[data-ui=view] header .f-btn{
  width:64px;
  height:48px;
  line-height:48px;
}



