/*
jQTouch may be freely distributed under the MIT license.
*/

@import url(base.css);
@import url(jqtouch-core.css);
@import url(jqtouch-ui.css);
@import url(jqtouch-button.css);
@import url(jqtouch-animation.css);
@import url(jqtouch-theme.css);

@import url(grids.css);

a{color:#4d4d4d;}
a:hover{text-decoration:none;}

.grid-view{padding:8px;}
.grid-view .grid-li{padding:0 8px;float:left;}
.grid-view .grid-li{height:172px;}
.grid-view .grid-li +.grid-li{height:78px;margin-bottom:16px;}
.grid-view .grid-li +.grid-li +.grid-li{margin-bottom:0;}
.grid-view .item{background:#fff;height:100%;border-radius:4px;padding:8px;}
.grid-view .item + .item{height:40px;}

/* launch view */
.launch .launchimg{background:url(launch.jpg) no-repeat 50% 100%;background-size:100% auto;margin:0;}
.launch .center-cont{margin:0;padding:0;background:transparent;}
.launch footer{overflow:hidden;background:#fff;box-shadow:0 -1px 0 rgba(0,0,0,.08);height:72px;}
.launch footer .applogo{position:relative;background-position:50% 50%;width:100%;text-align:center;line-height:76px;}
.launch footer .applogo{font-size:18px;font-weight:300;}
.launch footer #skip{position:absolute;right:16px;top:19px;background-color:transparent;border:1px solid rgba(0,0,0,.2);border-radius:24px;color:rgba(0,0,0,.5);line-height:32px;}



ul#icons-cont{padding:8px 4px;margin:0;list-style:none outside;}
#icons-cont .xu-u{padding:16px 8px 8px;}
#icons-cont .xu-u-1{text-align:center;}
#icons-cont .xu-u-3{padding:4px;text-align:center;}
#icons-cont .xu-u-3 a{display:block;background:#fafafa;padding:4px;width:100%;height:100%;color:#616161;text-decoration:none;}
#icons-cont .xu-u-3 i{font-size:32px;color:#616161;}
#icons-cont .xu-u-3 .caption{display:block;font-size:12px;line-height:1.3;word-break:break-all;}
#icons-cont .xu-u-3:hover,#icons-cont .xu-u-3:hover i{color:#09f}

