/*
* jqtouch-ui.css
*/
/* ui */

/* header */
[data-ui=view] header{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
[data-ui=view] header{position:relative;z-index:1;background:#fff;box-shadow:0 1px 3px rgba(0,0,0,.13);min-height:48px;line-height:48px;text-align:center;}
[data-ui=view] header .title{-webkit-box-flex:1;-webkit-flex:1;flex:1;width:0%;text-align:center;}
[data-ui=view] header h1,[data-ui=view] header h2{overflow:hidden;margin:0;font-size:20px;font-weight:500;letter-spacing:0.02em;text-align:center;text-overflow:ellipsis;white-space:nowrap;}

/* footer */
[data-ui=view] footer{position:relative;z-index:1;background:#fff;box-shadow:0 0 3px rgba(0,0,0,.24);min-height:48px;text-align:center;}

/* TabBar */
[data-ui=view] [data-ui=tabbar]{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:justify;box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;align-items:center;
  width:100%;min-height:48px;}
[data-ui=tabbar] a{display:block;width:100%;text-align:center;text-decoration:none;}
[data-ui=tabbar] a:hover{color:#000;}
[data-ui=tabbar] a i,[data-ui=tabbar] a span{display:block;}
[data-ui=tabbar] a i{padding-top:4px;height:28px;line-height:24px;font-size:24px;}
[data-ui=tabbar] a span{display:inline-block;border-bottom:2px solid transparent;padding:0 4px 2px;line-height:12px;font-size:12px;}
[data-ui=tabbar] .current{background-color:#f2f2f2;color:#06c;}
[data-ui=tabbar] .current span{border-color:#06c;}


/* Tab Panel */
[data-tab=nav]{}
[data-tab=content]{}
[data-tab=panel]:not(.current){display:none;}

/* ToolBar */
[data-ui=toolbar]{flex:none;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;
  position:relative;z-index:1;min-height:44px;line-height:44px;background:#fff;box-shadow:0 1px 2px rgba(0,0,0,.12);}
footer [data-ui=toolbar]{box-shadow:none;}
[data-ui=toolbar] .caption{-webkit-box-flex:1;-webkit-flex:1;flex:1;}


/* Search bar */
[data-ui=searchbar]{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;
  background:#f1f1f1;border-bottom:1px solid #ccc;}
[data-ui=searchbar] span{flex:none;display:block;padding:0;width:48px;font-size:14px;font-weight:500;letter-spacing:0.04em;line-height:2.572em;text-align:center;}
[data-ui=searchbar] .input{-webkit-box-flex:1;-webkit-flex:1;flex:1;border:1px solid #aaa;padding:0;height:36px;width:0%;}
[data-ui=searchbar] .input input{border:none;width:100%;height:100%;}

/* List */
[data-ui=lists]{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;
  background:#fff;border-bottom:1px solid #eee;padding:12px 16px;}
[data-ui=lists] .item{-webkit-box-flex:1;-webkit-flex:1;flex:1;width:0%;}

[data-ui=lists] .image{background:#31bbee;margin-right:16px;width:40px;height:40px;}
[data-ui=lists] .title,.intro{line-height:1.2;}
[data-ui=lists] .title{font-size:16px;font-weight:bold;color:#212121;}
[data-ui=lists] .intro{color:#757575;}
[data-ui=lists] .icon{flex:none;display:block;margin-right:-8px;width:24px;height:24px;color:#757575;text-align:right;}

[data-ui=lists] .title:only-child{font-weight:400;line-height:1;}


[data-ui=notes]{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;
  background:#fff;border:1px solid #ddd;margin:12px 0;padding:16px;}
[data-ui=notes].vcenter{-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
[data-ui=notes] .intro{color:#212121;}
[data-ui=notes] .icon{flex:none;display:block;margin-right:16px;width:24px;height:24px;color:#757575;text-align:right;}
[data-ui=notes] .title{margin-bottom:4px;font-size:16px;font-weight:bold;color:#212121;}



.flex-centerbox{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;
  height:400px;background:#fff;margin-bottom:12px;}
.flex-centerbox .center-cont{display:block;text-align:center;padding:16px;margin:16px;}
.flex-centerbox .center-cont{background:#eee;}


/* launch image */
.launch .footer1{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}













