/*
jQTouch may be freely distributed under the MIT license.
*/

@import url(base.css);
@import url(jqtouch-core.css);
@import url(jqtouch-ui.css);
@import url(jqtouch-button.css);
@import url(jqtouch-animation.css);
@import url(jqtouch-theme.css);

@import url(grids.css);

a{color:#4d4d4d;}
a:hover{text-decoration:none;}

.grid-view{padding:8px 4px;}
.grid-view .grid-li{padding:0 4px;float:left;}
.grid-view .grid-li{height:172px;}
.grid-view .grid-li +.grid-li{height:82px;margin-bottom:8px;}
.grid-view .grid-li +.grid-li +.grid-li{margin-bottom:0;}
.grid-view .item{background:#fff;height:100%;border-radius:4px;}
.grid-view .item + .item{height:40px;}

/* launch image */
.launch .launchimg{background:url(launch.jpg) no-repeat 50% 100%;background-size:100% auto;}
.launch footer{overflow:hidden;background:#fff;box-shadow:0 -1px 0 rgba(0,0,0,.08);height:76px;}

.launch footer .applogo{
  position:relative;
  background-position:50% 50%;
  width:100%;
  text-align:center;
  line-height:76px;
}
.launch footer .applogo{
  font-size:20px;
  font-weight:300;
}
.launch footer .applogo .btn{
  position:absolute;right:16px;top:19px;background-color:transparent;
  border:1px solid #ccc;border-radius:24px;
  color:#999;
}



