/*
jQTouch may be freely distributed under the MIT license.
*/

@import url(jqtouch-core.css);
@import url(jqtouch-ui.css);
@import url(jqtouch-button.css);
@import url(jqtouch-animation.css);
@import url(jqtouch-theme.css);




.scroll a{padding:8px 16px;background:#f2f2f2;line-height:24px;}
.scroll a:hover{background:#fff;}
