/*
* jqtouch-ui.css
*/
/* ui */

[data-ui=view] header{
  display:-webkit-box;display:-webkit-flex;display:flex;
  -webkit-box-align:center;box-align:center;
  -webkit-align-items:center;align-items:center;
  -webkit-box-pack:justify;box-pack:justify;
  -webkit-justify-content:space-between;justify-content:space-between;
  position:relative;z-index:1;
  background:#fff;
  box-shadow:0 1px 3px rgba(0,0,0,.13);
  height:48px;
  line-height:48px;
  text-align:center;
}
[data-ui=view] .f-btn{
  flex:none;
  background:#31bbee;
  border:none;
  width:56px;
  height:44px;
  line-height:44px;
  color:#fff;
  text-align:center;
}

[data-ui=view] header .f-btn{
  width:64px;
  height:48px;
  line-height:48px;
}
[data-ui=view] header .nav-title{
  text-align:center;
  line-height:1.2;
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
  width:0%;
}



[data-ui=view] .cont-box{
  overflow: auto;
  background: #e2e2e2;
  width: 100%;
  height: auto;
  -webkit-overflow-scrolling:touch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

[data-ui=view] footer{
  background:#fff;
  height:48px;
  line-height:48px;
  text-align:center;
  box-shadow:0 0 3px rgba(0,0,0,.24);
  position:relative;
  z-index:1;
}

[data-ui=view] footer .tabbar{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;

  width:100%;
  height:48px;
  line-height:48px;
}
[data-ui=view] footer .tabbar a{
  display:block;
  width:100%;
  height:100%;
  text-align:center;
  text-decoration:none;
}




